<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
    <% include navbar.ejs %>   
    <div class="col-4">
            <form method="POST" action="/admin/products/update">
                <input type="hidden" name="product[id]" value="<%=product[0].id%>">
                    <div class="form-group">
                      <label for="exampleInputName">Name</label>
                      <input required type="text" value="<%=product[0].name%>" name="product[name]" class="form-control" id="exampleInputName" placeholder="Enter a name">
                    </div>                    
                      <div class="form-group">
                          <label for="exampleFormControlSelect2">Brand of headphone</label>
                          <select required class="form-control" name="product[brandId]"  id="exampleFormControlSelect2">
                              <option value="<%=product[0].brand.id%>"><%=product[0].brand.name%></option>
                              <% if (brands) { %>
                                <% brands.forEach(brand => { %>
                                  <option value="<%= brand.id %>"><%= brand.name %></option>
                                <% }); %>
                              <% } %>
                          </select>
                        </div>
                    <div class="form-group">
                      <label for="exampleInputPrice">Price</label>
                      <input required type="number" value="<%=product[0].price%>" name="product[price]" value="0" min="0" class="form-control" id="exampleInputPrice" placeholder="Price">
                    </div> 
                    <div class="form-group">
                        <label for="exampleInputQuantity">Quantity</label>
                        <input required type="number" value="<%=product[0].quantity%>" name="product[quantity]" value="0" min="0" class="form-control" id="exampleInputQuantity" placeholder="Quantity">
                      </div>
                      <div class="form-group">
                          <label for="exampleFormControlSelect2">Type of headphone</label>
                          <select name="product[type]" required class="form-control" id="exampleFormControlSelect2">
                              <option value="<%=product[0].type%>"><%=product[0].type%></option>
                              <option value="1">Open</option>
                              <option value="2">Closed</option>
                              <option value="3">Semiopen</option>
                          </select>
                        </div>
                    <div class="modal-footer">
                        <a href="/admin/products" class="btn btn-secondary">Cancel</a>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                      </div>
                  </form>  
                  <form action="/admin/products/updateIMG" method="POST" enctype="multipart/form-data">           
                    <div class="custom-file">
                      <input type="hidden" name="id" value="<%=product[0].id%>">
                      <input type="file" required name="image" accept="image/*" class="custom-file-input" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose image</label>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Upload</button>
                      </div>
                  </form>
    </div>
  </body>
</html>