<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
    <% include navbar.ejs %>   
    <div class="col-12">
        <h3>Orders</h3>
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">OrderId</th>
                  <th scope="col">Date of order</th>
                  <th scope="col">State</th>
                  <th scope="col">View order</th>
                  <th scope="col">Change state</th>
                  <th scope="col">Remove order</th>
                </tr>
              </thead>
              <tbody>
                <% for (var i = 0; i < orders.length; i++) { %>
                  <tr>
                    <th scope="row"><%= i + 1 %></td>
                    <td><%= orders[i].id %></td>
                    <td><%= orders[i].createDate %></td>
                    <td><%= orders[i].state %></td>
                    <td><a href="/order?id=<%= orders[i].id %>" class="btn btn-secondary">View</a></td>
                    <td>
                      <select id="<%= orders[i].id %>" name="type" required class="form-control" id="exampleFormControlSelect2" onchange="modify(this)">
                        <option value="">Change the order state</option>
                        <option value="Draft">Draft</option>
                        <option value="Open">Open</option>
                        <option value="Canceled">Canceled</option>
                        <option value="Suspended">Suspended</option>
                        <option value="Closed">Closed</option>
                      </select>
                    </td>
                    <td><button name="<%= orders[i].id %>" onclick="remove(this)" class="btn btn-danger">Remove</button></td>
                  </tr>    
                 <% } %>
              </tbody>
        </table>
    </div>
  </body>
</html>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
function modify(param){
  if(param.value=="")
    return
  axios.put(
      '/admin/orders/modify', 
      {
        order: 
        {
          id: param.id,
          state: param.value
        }
      })
      .then(resp => {
        location.reload();
    }).catch(error => {
      console.log("error")
    }) 
}

function remove(param){
  axios.delete('/admin/orders/remove?id='+param.name)
      .then(resp => {
        location.reload();
    }).catch(error => {
      console.log("error")
    }) 
}
</script>