<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
        <% include navbar.ejs %>   
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Add new product
        </button>
        <div class="col-12">
          <h3>Products</h3>
          <table class="table" id="productTable">
              <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Create date</th>
                    <th scope="col">Latest modify date</th>
                    <th scope="col">Modify</th>
                    <th scope="col">Remove</th>
                  </tr>
                </thead>
                <tbody>       
                  <% if (products) { %>
                    <% for (var i = 0; i < products.length; i++) { %>
                      <tr>
                        <th scope="row"><%= i + 1 %></td>
                        <td><%= products[i].name %></td>
                        <td><%= products[i].brand.name %></td>
                        <td><%= products[i].price %>$</td>
                        <td><%= products[i].quantity %></td>
                        <td><%= products[i].createDate %></td>
                        <td><%= products[i].updated %></td>
                        <td><a href="/admin/products/modify?id=<%= products[i].id %>" class="btn btn-secondary">Modify</a></td>
                        <td><a href="/admin/products/delete?id=<%= products[i].id %>" class="btn btn-danger">Remove</a></td>
                      </tr>    
                     <% } %>   
                  <% } %>                  
                </tbody>
          </table>
      </div>
          <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Create new product</h5>
                      <button type="reset" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                              <label for="exampleInputName">Name</label>
                              <input required type="text" name="name" class="form-control" id="exampleInputName" placeholder="Enter a name">
                            </div>                    
                              <div class="form-group">
                                  <label for="exampleFormControlSelect2">Brand of headphone</label>
                                  <select required class="form-control" name="brandId"  id="exampleFormControlSelect2">
                                      <option value="">Select a brand</option>
                                      <% if (brands) { %>
                                        <% brands.forEach(brand => { %>
                                          <option value="<%= brand.id %>"><%= brand.name %></option>
                                        <% }); %>
                                      <% } %>
                                  </select>
                                </div>
                            <div class="form-group">
                              <label for="exampleInputPrice">Price</label>
                              <input required type="number" name="price" value="0" min="0" class="form-control" id="exampleInputPrice" placeholder="Price">
                            </div> 
                            <div class="form-group">
                                <label for="exampleInputQuantity">Quantity</label>
                                <input required type="number" name="quantity" value="0" min="0" class="form-control" id="exampleInputQuantity" placeholder="Quantity">
                              </div>
                              <div class="form-group">
                                  <label for="exampleFormControlSelect2">Type of headphone</label>
                                  <select name="type" required class="form-control" id="exampleFormControlSelect2">
                                      <option value="">Select a type</option>
                                      <option value="1">Open</option>
                                      <option value="2">Closed</option>
                                      <option value="3">Semiopen</option>
                                  </select>
                                </div>
                                <div class="custom-file">
                                    <input required type="file" name="image" accept="image/*" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose image</label>
                                  </div>
                            <div class="modal-footer">
                                <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Create</button>
                              </div>
                          </form>    
                    </div>
                  </div>
                </div>
              </div>
      </body>
    </html>
    <script>
    $('.modal').on('hidden.bs.modal', function(){
        $(this).find('form')[0].reset();
    });
    </script>