<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
      <% include navbar.ejs %>  
      Cart elements
      <% if (cart) { %>
        <ul class="list-group">
        <% cart.forEach(prod => { %>
            <li class="list-group-item">
              <div>
                <a href="/product/?id=<%= prod.id %>">
                  <img src="/img/<%=prod.image%>" alt="Product image" width="75" height="75">
                  <%= prod.name %>
                  </a>
                <input id="<%= prod.id %>" type="number" value="<%= prod.quant %>" min="1" onchange="modifyQuant(this)">
                <%= prod.price%>$
                <%= prod.price * prod.quant %>$
                <button name="<%= prod.id %>" onclick="removeFromCart(this)">Remove</button>
              </div>
            </li>
        <% }); %>
      </ul>
        <a href="/order1" class="btn btn-primary">Process to checkout</a>
      <% } %>
  </body>
</html>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
function modifyQuant(param){
  axios.put(
      '/cart/modify', 
      {
        cartItem: 
        {
          id: param.id,
          newQuant: param.value
        }
      })
      .then(resp => {
        location.reload();
    }).catch(error => {
        console.log(error)
  }) 
}
function removeFromCart(param){
  axios.delete('/cart/remove?id='+param.name)
      .then(resp => {
      location.reload();
    }).catch(error => {
        console.log(error)
  }) 
}
</script>
