<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>
      <% include navbar.ejs %>  
      <form method="POST"> 
        <div>
            To be paid: <%= price %>$
        </div>
        <div class="form-group">
                <label for="exampleShippingOption">Select Shipping Option</label>
                <select required class="form-control" name="order[shipping]"  id="exampleFormControlSelect2">
                    <option value="">Select shipping option</option>
                    <option value="dpd">Delivery by DPD - free</option>
                </select>
        </div>
        <div class="form-group">
                <label for="exampleShippingOption">Select Address Option</label>
                <select required class="form-control" name="order[addressId]"  id="exampleFormControlSelect2">
                    <option value="">Select the address</option>
                    <% if (addresses) { %>
                        <% addresses.forEach(address => { %>
                          <option value="<%= address.id %>"><%= address.zip %> <%= address.city %> <%= address.address %> - <%= address.firstName %> <%= address.lastName %></option>
                        <% }); %>
                    <% } %>
                </select>
        </div>
        <div class="form-group">
                <label for="exampleShippingOption">Choose Payment Type</label>
                <select required class="form-control" name="order[paymant]"  id="exampleFormControlSelect2">
                    <option value="">Choose payment type</option>
                    <option value="bank">Bank transfer - free</option>
                    <option value="card">Credit/Debit card - free</option>
                    <option value="paypal">Pay with Paypal - free</option>
                </select>
        </div>
        <button type="submit">Finish order</button>
      </form>
  </body>
</html>
